<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.c3p0.max_size">20</property>
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.timeout">120</property>
    <property name="automaticTestTable">Test</property>
    <property name="hibernate.c3p0.max_statements">100</property>
    <property name="hibernate.c3p0.idle_test_period">120</property>
    <property name="hibernate.c3p0.acquire_increment">1</property>
    <property name="c3p0.testConnectionOnCheckout">true</property>
    <property name="c3p0.idleConnectionTestPeriod">18000</property>
    <property name="c3p0.maxIdleTime">25000</property>
    <property name="c3p0.idle_test_period">120</property>
    <property name="dialect">
      org.hibernate.dialect.MySQLDialect
    </property>
    <property name="connection.url">jdbc:mysql://localhost:3306/product</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.password">zhangyuanai</property>
    <property name="connection.username">root</property>
    <mapping class="entity.ListEntity"/>
    <mapping resource="entity/ListEntity.hbm.xml"/>
    <mapping class="entity.ProductEntity"/>
    <mapping resource="entity/ProductEntity.hbm.xml"/>
    <mapping class="entity.CarEntity"/>
    <mapping resource="entity/CarEntity.hbm.xml"/>

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>